name: restaurants-api-cd
on:
  push:
    branches:
    - main
  workflow_dispatch:
  
jobs:
  build:
     runs-on: ubuntu-latest
     steps:
       - name: Checkout
         uses: actions/checkout@v6.0.1
       - name: Setup .NET Core SDK
         uses: actions/setup-dotnet@v5.0.1
         with:
           dotnet-version: 8.0.x
       - name: Restore dependencies
         run: dotnet restore
       - name: Build dependencies
         run: dotnet build --no-restore -c Release
       - name: Publish
         run: dotnet publish --no-build ./src/Restaurants.API/Restaurants.API.csproj -o ${{env.DOTNET_ROOT}}/api  --no-build 
       - name: Upload a Build Artifact
         uses: actions/upload-artifact@v6.0.0
         with:
            name: api-artifact
            path: ${{env.DOTNET_ROOT}}/api
  deploy-dev:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download a Build Artifact
        uses: actions/download-artifact@v7.0.0
        with:
          name: api-artifact
      - name: Azure WebApp
        uses: Azure/webapps-deploy@v2.2.17
        with:
          app-name: restaurants-platform-api-dev
          publish-profile: ${{secrets.PUBLISH_PROFILE_DEV}}
      

    
